# Source_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DE_USER=data_engineer
POSTGRES_DE_PASSWORD=data_engineer_123
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=wideworldimporters

# Kafka manager UI
KAFKA_CLUSTERS_0_NAME=kafka-server
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka-server:9092
KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper-0:2181
KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM=PLAIN
KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="admin" password="admin123"

# Kafka server
BOOTSTRAP_SERVERS=kafka-server:9092

# Kafka Connect
CONNECT_BOOTSTRAP_SERVERS=kafka-server:9092
CONNECT_GROUP_ID=kafka-connectx
CONNECT_CONFIG_STORAGE_TOPIC=_kafka-connectx-config
CONNECT_OFFSET_STORAGE_TOPIC=_kafka-connectx-offsets
CONNECT_STATUS_STORAGE_TOPIC=_kafka-connectx-status
CONNECT_KEY_CONVERTER=org.apache.kafka.connect.json.JsonConverter
CONNECT_VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
CONNECT_INTERNAL_KEY_CONVERTER=org.apache.kafka.connect.json.JsonConverter
CONNECT_INTERNAL_VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
CONNECT_REST_ADVERTISED_HOST_NAME=localhost
CONNECT_REST_PORT=8083
CONNECT_PLUGIN_PATH=/usr/share/java,/usr/share/confluent-hub-components

# MSSQL Server
MSSQL_DB=wideworldimporters
MSSQL_SA_PASSWORD=Admin123@
